body {
    background-color: deepskyblue;
}

h1 {
    text-align: center;
}

#sprite {
    text-align: left;
    width: 70%;
    height: auto;
}

.stats {
    text-align: right;
    font-size: large;
}

.container{
    border: 1px solid black;
}

#image {
    text-align: left;
    float: left;
    border: 1px solid black;
    width: 70%;
    height: auto;
    visibility: hidden;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
    visibility: hidden;
}

#sprite {
    float: left;
}

button {
   cursor: pointer;
   color: white;
   background-color: red;
   border-radius: 50px;
   font-size: 20px;
}

label {
    font-size: 30px;
}